.about-us-container {
    /* max-width: 1000px;
    margin: 60px auto;
    padding: 50px;
    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 1s ease-in-out; */
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-image: url('https://cdn.pixabay.com/photo/2024/06/07/07/47/car-8814158_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
}

.about-box {
    background-color:#c1ddf6;  
    padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  width: 100%;
  text-align: center; 
      
  }

.about-us-container h1{
    color: #1565c0;
    margin-bottom: 20px;
    font-weight: 700;
   text-shadow:none;
   margin-top: 0px;
   text-decoration-line:underline;
   
}


.about-us-container h2 {
    color: #1565c0;
    margin-bottom: 20px;
    font-weight: 700;
}

.about-us-container p {
    line-height: 1.9;
    color:black;
    font-size: 18px;
    margin-bottom: 20px;
}

.about-us-container ul {
    padding: 0;
}

.about-us-container li {
    background-color: #42a5f5;
    color:rgb(248, 221, 187);
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
    transition: background-color #1082e6
}

.about-us-container li:hover {
    background-color: #1e88e5;
    cursor: pointer;
}




