
/* AdminDashboard.css */
.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    padding: 30px;
    background-image: url('https://cdn.pixabay.com/photo/2024/06/07/07/47/car-8814158_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#admin {
    color: yellow;
    text-shadow: 1px 4px 6px rgb(18, 13, 13);
    margin-bottom: 20px;
    margin-top: 0px;
}

.add-slot-form {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #4CAF50;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    margin-bottom: 15px;
    outline: none;
    transition: border 0.3s ease;
}

input[type="text"]:focus {
    border-color: #45a049;
}

.add-slot-form button{
    background-color: rgb(19, 184, 19);
}

button:hover {
    background-color: #18981f;
}

button {
    width: 90%;
    background-color: rgb(233, 27, 27);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.slot-item button:hover{
   background-color: blue; 
}


.slot-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 900px;
}

.slot-item {
    background-color: #ffffff;
    border: 2px solid rgb(236, 104, 104);
    border-radius: 12px;
    padding: 10px;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.slot-item p {
    margin: 5px 0;
    color: #333;
}
