/* AvailableSlots.css */
.navbar{
    border-radius: 2px;
}
.page-container {
    padding:30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2024/06/07/07/47/car-8814158_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 2px;
    min-height: 100vh;  /* Ensures content fills the entire viewport height*/
   
}

.page-container h2 {
    color:rgb(250, 166, 10);
    margin-top: 0%;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 4px 7px black;
}

.page-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-container li {
    margin:auto;
    width:700px;
    background-color: #eafaf1;
    border: 2px solid #27ae60;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.page-container li:hover {
    transform: scale(1.05);
    background-color: #d4f7e3;
}

.page-container b {
    color: #2c3e50;
    font-weight: bold;
}

