 
 /* Home.css */
.home-container {
    background-image: url('https://cdn.pixabay.com/photo/2024/06/07/07/47/car-8814158_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding: 30px;
    background-color: #f0f2f5;
    min-height: 100vh;
   
}

 
 h1 {
    font-size: 3.5rem;
    color: #ffbf00;
    margin-bottom: 10px;
    text-shadow: 2px 8px 10px red;
}

#first{
    margin-top: 100px;
}

#line{
    color:Magenta;
    
}

p {
    font-size: 1.5rem;
    color: #800020;
    margin-bottom: 30px;
}

.home-buttons {
    align-items: center;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    width: 225px;
    background-color: #4dab50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius:10px; 
    text-decoration: none;
    font-size: 1.2rem;
    transition: background 0.3s ease, transform 0.2s ease; 
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #067f0c;
    transform: scale(1.05);
}

/* Dropdown Feature */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}
