.instruction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    padding: 30px;
    background-image: url('https://cdn.pixabay.com/photo/2024/06/07/07/47/car-8814158_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.inst-container{
    max-width: 800px;
    margin: 50px auto;
    background-color: #f0f8ff; 
    border: 2px solid #4a90e2;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    margin-top: 0px;
    
}

 .inst-container h1 {
    color: #1676e4;
    text-shadow:black;
    font-size: 33px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.instruction-container ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.instruction-container li {
    background-color: #caeaf9;
    border-left: 4px solid #4a90e2;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s ease;
}

.instruction-container li:hover {
    background-color: #8ec8f5;
    cursor: pointer;
}
