/* Login.css */
.login-container {
    background-image: url('https://cdn.pixabay.com/photo/2024/06/07/07/47/car-8814158_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:0px;
}

.login-box {
    background:rgba(255, 255, 255, 0.95); ;
    margin-bottom: 200px;
    border-radius: 15px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
    padding:  30px;
    width: 100%;
    max-width: 400px;
    text-align: center; /* Ensures all content is centered */ 
     border: 2px solid #4CAF50; 
}

h2 {
    color: #4CAF50;
    margin-bottom: 20px;
    margin-top: 0px;
}

.login-box input {

    width: 90%;  /* Increased width */
    text-align: center;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    margin-bottom: 15px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #45a049;
}

.login-box button {
    width: 90%;  /* Increased width */
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-box button:hover {
    background-color: #0056b3;
}

span {
    display: block;
    margin-top: 20px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


.error {
    color: #d32f2f;
    padding: 5px 0;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

