
  .registration-container {
    background-image: url('https://cdn.pixabay.com/photo/2024/06/07/07/47/car-8814158_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:0px;
}

.registration-box {
  margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 3px solid #4CAF50;
}

h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #45a049;
}

.registration-box button {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: #d32f2f;
    padding: 5px 0;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}




  

  