 
 /* SlotList.css */

  .container {
    background-image: url('https://cdn.pixabay.com/photo/2024/06/07/07/47/car-8814158_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding: 30px;
    background-color: #f0f2f5;
    min-height: 100vh;
}

.head {
    color:rgb(73, 134, 246);
    font-size: 2.9rem;
    margin-bottom: 20px;
    margin-top: 0px;
    text-shadow: 2px 8px 8px rgb(3, 3, 122);
}

.slot-lists {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.slot-cards {
    background-color: #fff;
    border: 2px solid #2c3e50;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.slot-cards:hover {
    transform: scale(1.05);
}

.available {
    box-shadow: 10px 10px 10px #aaa;
    border-color: #27ae60;
    background-color: #eafaf1;
}

.booked {
    box-shadow: 10px 10px 10px #aaa;
    border-color: #e74c3c;
    background-color: #fdecea;
}

p {
    margin: 5px 0;
    font-weight: 500;
    font-size: 1.2rem;
} 
