

  /* Navbar.css */

.navbar {
    background-image: url('https://cdn.pixabay.com/photo/2024/06/07/07/47/car-8814158_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    justify-content: flex-start;  /* Align content to the start */
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: auto;
}

.logo-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid yellow;
    animation-name: logo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.logo-text {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 10px; /* Space between logo and text */
}

.nav-links {
    
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.nav-links li {
    text-decoration: underline;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 1rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-links li:hover {
    font-size: 25px;
    border-bottom: 3px solid rgb(239, 171, 45);
    border-bottom: 3px solid rgb(238, 59, 178);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }
}

@keyframes logo {
    0% {
        border-color: red;
        transform: translate(1.2, 1px);
        /* box-shadow: 5px 5px 50px 25px rgb(16 16 173); */
        box-shadow: 5px 5px 50px 25px rgb(161, 6, 6);
        
    }

    25% {
        border-color: yellow;
        box-shadow: 5px 5px 40px 20px rgb(193 193 18);
    }

    50% {
        border-color: red;
        transform: translate(0, 0px);
        box-shadow: 5px 5px 50px 25px rgb(161, 6, 6);
    }

    75% {
        border-color: rgb(7, 102, 7);
        transform: translate(0, 0px);
        box-shadow: 5px 5px 40px 20px rgb(7, 102, 7);
    }
}
